@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
.dropDown {
    position: relative;
    display: inline-block;
    top: 2.7vh;
    width: 8vw;
    transform: translateX(-25%);
    background-color: #FFFBF2;
    border: 0.6vh solid black;
    border-radius: 5vh;
    padding: 1rem;
}
.dropDownItem {
    color: black;
    font-family: 'Kurale', serif;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5vh;
    padding: 0.5rem;
}
.line {
    width: 8vw;
    border-top: 0.6vh solid black;
}



