@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
.dropDown {
    position: relative;
    display: inline-block;
    top: 1.316vw;
    width: 8vw;
    transform: translateX(-25%);
    background-color: #FFFBF2;
    border: 0.2925vw solid black;
    border-radius: 2.4375vw;
    padding: 1rem;
    font-size: 1.5vw;
}
.dropDownItem {
    color: black;
    font-family: 'Kurale', serif;
    height: 2.4375vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 2.4375vw;
    padding: 0.5rem;
}
.line {
    width: 8vw;
    border-top: 0.2925vw solid black;
}
.dropDownSave {
    overflow: visible !important;
    z-index: 9999;
    position: absolute;
    white-space: nowrap;
    width: 6vw;
    top: 50%;
    left: 78%;
}
.spanStyle:hover {
    color: rgba(169, 139, 255, 47);
    cursor: pointer;
}
.spanStyle {
    font-size: 1vw;
}
.lineSave {
    width: 6vw;
    border-top: 0.2925vw solid black;
}



