@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

.RegistrationDiv {
    height: 85vh;
    border: 0.6vh solid black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFBF2;
    border-radius: 10vh;
    font-family: 'Kurale', serif;
}
.col_h {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6vw;
    height: 7vh;
    margin-right: 3vw;
}
.col_input {
    display: flex;
    justify-content: right;
    margin-right: 2.6vw;
    margin-top: 0.5vw;
}
.col_input_btn {
    display: flex;
    justify-content: right;
    margin-top: 1vh;
    margin-right: 6vw;
}
.HBer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Amatic SC', cursive;
    font-size: 3vw;
    margin-top: -10vh;
}
.BerulyaImg {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ImageDiv {
    width: 15vw;
    margin-right: 6vw;
    margin-left: 6vw;
}
.flexDiv {
    display: flex;
    flex-direction: row;
}
.flexDivCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.IconInput {
    width: 3vw;
    height: 3vw;
    margin-left: 0.4vw;
}
.alignCenterIMG {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.IMGContainer {
    display: flex;
    flex-direction: row;
    border: 0.6vh solid black;
    border-radius: 10vh;
    background-color: #FFFCE2;
}






