.flexDivMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 41.4375vw;
    width: 85vw;
}
.flexCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 0.2925vw solid black;
}
.RowDiv {
    height: 20.9625vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

