.flexDivMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 85vw;
}
.flexCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 0.6vh solid black;
}
.RowDiv {
    height: 43vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

