.flexDivMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 85vw;
}
.circle {
    position: absolute;
    background-color: #FFFBF2;
    padding: 4vh;
    box-sizing: border-box;
    border-radius: 100%;
    border: 0.6vh solid black;
    height: 20vh;
    width: 20vh;
}
.circleRight {
    top: -4vh;
    right: -4vh;
}
.circleLeft {
    top: -4vh;
    left: -4vh;
}
.flexCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 0.6vh solid black;

}
.ColDiv {
    border-right: 0.6vh solid black;
    width: 42.5vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ColDivTwo {
    width: 42.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.RowDiv {
    height: 25vh;
    display: flex;
    align-items: center;
}
.ImageDiv {
    width: 10vw;
}
.HBer {
    font-family: 'Amatic SC', cursive;
    font-size: 1.5vw;
    height: 3vh;
}
