.col_h {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6vw;
    height: 10vh;
    margin-right: 2vw;
}
.col_input {
    display: flex;
    justify-content: right;
    margin-right: 2.6vw;
    margin-top: 1.5vw;
}
.alignCenterIMG {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.IMGContainer {
    display: flex;
    flex-direction: row;
    border: 0.6vh solid black;
    border-radius: 10vh;
    background-color: #FFFCE2;
}
.IconInput {
    width: 3vw;
    height: 3vw;
    margin-left: 0.9vw;
}