@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

.flexDivCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.HBer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Amatic SC', cursive;
    font-size: 3vw;
    height: 10vh;
}
.ImageDiv {
    width: 15vw;
    margin-right: 6vw;
    margin-left: 6vw;
}