@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

.flexDivCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.HBer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Amatic SC', cursive;
    font-size: 1vw;
    height: 5vh;
    margin-left: 0.3vw;
}
.ImageDivSmall {
    width: 4vw;
    margin-left: 0.2vw;
}
.LogoDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}