input[type='radio'] {
    visibility: hidden;
}
label {
    margin-right: 1vw;
}
.divStyles {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
input[type='radio']:after {
    width: 1vw;
    height: 1vw;
    border-radius: 1.171875vw;
    top: -0.2vw;
    left: -0.3vw;
    position: relative;
    background-color:  #FFFBF2;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 0.15625vw solid black;
}

input[type='radio']:checked:after {
    width: 1vw;
    height: 1vw;
    border-radius: 1.171875vw;
    top: -0.2vw;
    left: -0.3vw;
    position: relative;
    background-color: #ffffb3;
    content: '';
    display: inline-block;
    visibility: visible;
    border:  0.15625vw solid black;
    vertical-align: middle;
}
.alignTippy {
    text-align: center;
}

