.App {
    font-family: sans-serif;
    text-align: center;
}
.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="0.75em"]::before {
    content: "Small";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="1em"]::before {
    content: "Normal";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="1.5em"]::before {
    content: "Large";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="2.5em"]::before {
    content: "Huge";
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="0.75em"]::before {
    content: "Small";
    font-size: 0.75em !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="1em"]::before {
    content: "Normal";
    font-size: 1em !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="1.5em"]::before {
    content: "Large";
    font-size: 1.5em !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="2.5em"]::before {
    content: "Huge";
    font-size: 2.5em !important;
}

.ql-clipboard {
    white-space: pre-wrap;
    word-wrap: break-word;
}
.ql-snow.ql-toolbar button,
.ql-snow .ql-toolbar button {
    height: 1.875vw;
    width: 2.1875vw;
}
.ql-snow .ql-picker {
    font-size: 1.09375vw;
    height: 1.875vw;
}
.ql-snow .ql-picker-label::before {
    line-height: 1.71875vw
}
.ql-snow .ql-color-picker,
.ql-snow .ql-icon-picker {
    width: 2.1875vw;
}
.ql-snow .ql-icon-picker .ql-picker-item {
    height: 1.875vw;
    width: 1.875vw;
}
.ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
    position: absolute;
    margin-top: -0.703125vw;
    right: 0;
    top: 50%;
    width: 1.40625vw;
}
.ql-toolbar.ql-snow {
    border: 0.078125vw solid #ccc;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    padding: 0.625vw;
}
.ql-snow .ql-picker-label {
    cursor: pointer;
    display: inline-block;
    height: 100%;
    padding-left: 0.625vw;
    padding-right: 0.15625vw;
    position: relative;
    width: 100%;
    overflow-y: auto;
}
.ql-snow .ql-picker.ql-size {
    width: 7.65625vw;
}
.ql-editor {
    box-sizing: border-box;
    line-height: 1.42;
    height: 100%;
    outline: none;
    overflow-y: auto;
    padding: 0.9375vw 1.171875vw;
    tab-size: 4;
    -moz-tab-size: 4;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
}


