.App {
    font-family: sans-serif;
    text-align: center;
}
.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="0.75em"]::before {
    content: "Small";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="1em"]::before {
    content: "Normal";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="1.5em"]::before {
    content: "Large";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="2.5em"]::before {
    content: "Huge";
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="0.75em"]::before {
    content: "Small";
    font-size: 0.75em !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="1em"]::before {
    content: "Normal";
    font-size: 1em !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="1.5em"]::before {
    content: "Large";
    font-size: 1.5em !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="2.5em"]::before {
    content: "Huge";
    font-size: 2.5em !important;
}

.ql-clipboard {
    white-space: pre-wrap;
    word-wrap: break-word;
}
.ql-snow.ql-toolbar button,
.ql-snow .ql-toolbar button {
    height: 1.875vw;
    width: 2.1875vw;
}
.ql-snow .ql-picker {
    font-size: 1.09375vw;
    height: 1.875vw;
}
.ql-snow .ql-picker-label::before {
    line-height: 1.71875vw
}
.ql-snow .ql-color-picker,
.ql-snow .ql-icon-picker {
    width: 2.1875vw;
}
.ql-snow .ql-icon-picker .ql-picker-item {
    height: 1.875vw;
    width: 1.875vw;
}


