.textDiv {
    width: 42vw;
    height: 56vh;
    border: 0.6vh solid black;
    overflow-y: auto;
    font-size: 1vw;
}
.alignEditor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quillText {
    height: 50vh;
    border: 0.6vh solid black;
    overflow-y: auto;
    font-size: 1vw;
    color: black;
    text-align: justify;
}


