@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
.myInput {
    padding: 1% 2%;
    margin: 1% 0 0;
    border: 0 solid black;
    border-radius: 4.875vw;
    font-size: 1.5vw;
    font-family: 'Kurale', serif;
    text-align: center;
    color: #888888;
    background-color: #FFFCE2;
    width: 22vw;
    height: 2.925vw;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
input:focus {
    outline: none;
}
input:focus::placeholder {
    color: transparent;
}