@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
.myInput {
    padding: 1% 2%;
    margin: 1% 0;
    border: 5px solid black;
    border-radius: 30px;
    font-size: 2.2vw;
    font-family: 'Kurale', serif;
    text-align: center;
    color: #888888;
    background-color: #FFFCE2;
    width: 63%;
}