@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
.myBtn {
    padding: 1% 2%;
    margin: 1% 0;
    color: black;
    font-size: 1.5vw;
    font-family: 'Kurale', serif;
    background: rgba(142, 255, 139, 47);;
    border: 1vh solid black;
    cursor: pointer;
    border-radius: 10vh;
    width: 18vw;
    height: 9vh;
}