@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
.myBtn {
    color: black;
    font-size: 1.5vw;
    font-family: 'Kurale', serif;
    background: rgba(142, 255, 139, 47);
    border: 0.2925vw solid black;
    cursor: pointer;
    border-radius: 4.875vw;
    width: 20vw;
    height: 4.375vw;
}
.myBtn:hover {
    background: rgba(198, 255, 197, 30);
}

.myBtn:active {
    background: rgba(15, 241, 9, 50);
}