.flexDivRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flexDivCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.firstDrop {
    width: 42vw;
    position: absolute;
    bottom: 0;
    left: -0.1vw;
}
.image {
    width: 42vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
}
.secondDrop {
    width: 42vw;
    position: absolute;
    bottom: 0;
    right: 0.5vw;
}
.FileImage {
    width: 5vw;
}
.overMainDiv {
    border-radius: 0;
}
